# compiled python
**/*.pyc
**/.ipynb_checkpoints/*

# (newly) collected recordings
recording_scripts/data
recording_scripts/meta.txt
recording_scripts/session_log.txt
recording_scripts/*.checkpoint*

# preprocessed data
.vscode/**/*
preprocessed_data/**/*
tf_data/**/*
data/**/*
logs/**/*
models/**/*
tensorboard/**/*
!**/